body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/daf01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

.soon {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

.soon h1 {
  text-align: center;
  font-weight: 100;
  color: white;
  padding-top: 8%;
  margin: 0;
}

.soon img {
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 40vh;

}
